<div class="nav-scroller bg-light box-shadow">
    <div class="container">
        <nav class="nav nav-underline">
            <span class="nav-link my-account-nav-link"><strong>My Account:</strong></span>
            <a class="nav-link my-account-nav-link active" href="/my-account">Dashboard</a>
            {{!-- <a class="nav-link" href="#">
                Friends
                <span class="badge badge-pill bg-light align-text-bottom">27</span>
            </a> --}}
            <a class="nav-link my-account-nav-link" href="/my-account/profile">Profile</a>
            <li class="nav-item dropdown">
                <a class="nav-link my-account-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ventures
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/my-account/ventures">See Ventures</a>
                <a class="dropdown-item" href="/my-account/ventures/create">Create Venture</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link my-account-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Posts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/my-account/posts">See Posts</a>
                <a class="dropdown-item" href="/my-account/posts/create">Create Post</a>
                </div>
            </li>
            <a class="nav-link my-account-nav-link" href="/my-account/comments">Comments</a>
            <a class="nav-link my-account-nav-link" href="/my-account/messages">Messages</a>
        </nav>
    </div>
</div>