<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>

        <div class="card-body">
            <form action="/reset-password" method="post">
                {{!-- {{#if error}}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {{/if}} --}}
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleConfirmPassword">Confirm password</label>
                            <input name="passwordConfirm" class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="id" id="id">
                <input type="hidden" name="token" id="token">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/login">Login</a>
                <a class="d-block small" href="/register">Register an Account</a>
                <a class="d-block small" href="/">Home</a>
            </div>
        </div>
    </div>
</div>

<script>
  // get the current URL
  const url = new URL(window.location.href);
  
  // get the 'id' parameter value
  const id = url.searchParams.get("id");
  
  // get the 'token' parameter value
  const token = url.searchParams.get("token");
  
  // set the values of the hidden fields in the form
  document.querySelector('input[name="id"]').value = id;
  document.querySelector('input[name="token"]').value = token;
</script>
