<h1>Venture Categories</h1>
<hr>

<div class="row">
    <div class="col-sm-4">
        <h2>Create Category</h2>
        <form action="/admin/venture-categories/create" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter title" class="form-control">
            </div>
            <button class="btn btn-primary">Create Category</button>
        </form>
    </div>

    <div class="col-sm-8">
        <h2>List of Categories</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {{#each ventureCategories}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td><a href="/admin/venture-categories/edit/{{id}}" class="btn btn-info">Edit</a></td>
                        <td>
                            <form action="/admin/venture-categories/{{id}}?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>