<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>This is a confirmation that your password has been reset.</p>
        <p>If you have not requested a password reset, please <a href="http://{{contactLink}}">contact us</a> as soon as possible.</p>
        <p>Your XY team</p>
    </body>
</html>