<h1>Edit Password</h1>

<form action="/admin/users/password/{{user.id}}?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-6">
                <label for="password">Password</label>
                <input name="password" class="form-control" id="password" type="password" placeholder="Password">
            </div>
            <div class="col-md-6">
                <label for="passwordConfirm">Confirm password</label>
                <input name="passwordConfirm" class="form-control" id="passwordConfirm" type="password" placeholder="Confirm password">
            </div>
        </div>
    </div>

    <a class="btn btn-primary" href="/admin/users/edit/{{user.id}}" role="button">Cancel</a>
    <button type="submit" class="btn btn-primary">Update User Password</button>
</form>